<table class="keypad">
    <tr>
        <td><button (click)="onClick(7)">7</button></td>
        <td><button (click)="onClick(8)">8</button></td>
        <td><button (click)="onClick(9)">9</button></td>
    </tr>
    <tr>
        <td><button (click)="onClick(4)">4</button></td>
        <td><button (click)="onClick(5)">5</button></td>
        <td><button (click)="onClick(6)">6</button></td>
    </tr>
    <tr>
        <td><button (click)="onClick(1)">1</button></td>
        <td><button (click)="onClick(2)">2</button></td>
        <td><button (click)="onClick(3)">3</button></td>
    </tr>
    <tr>
        <td><button (click)="onClick(-1)">←</button></td>
        <td><button (click)="onClick(0)">0</button></td>
        <td><button (click)="onClick(-2)">✓</button></td>
    </tr>
</table>